In [315]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [316]:
bins = [-1,0,15,31]

In [317]:
pressure = [0,1,2]

In [318]:
cd C:/Users/nobuh/Google Drive/M1/Research/Experiments/Data/Cleaned/Complete/file

C:\Users\nobuh\Google Drive\M1\Research\Experiments\Data\Cleaned\Complete\file

In [319]:
dataset = pd.read_csv('Neutral.csv')

In [320]:
dataset

,Class,tag1,tag2,tag3,tag4,tag24,tag25,tag26,tag27,tag1ps,tag2ps,tag3ps,tag4ps
0,1,2551.4,2345.3,2272.0,2554.333333,775.6,563.6,1233.7,499.7,7,5,7,4
1,1,2561.6,2364.8,2238.8,2500.733333,818.9,572.6,1219.7,485.6,7,5,7,4
2,1,2507.6,2339.3,2261.4,2553.200000,811.8,540.6,1243.3,488.8,7,5,7,4
3,1,2471.5,2400.6,2274.0,2506.066667,789.9,538.8,1219.2,468.9,7,5,7,4
4,1,2577.5,2373.3,2278.9,2512.066667,744.8,558.2,1224.0,471.5,7,5,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,1,2617.8,2426.3,2217.5,2533.933333,810.9,520.3,1220.1,484.7,7,5,7,5
2057,1,2641.9,2393.6,2237.4,2562.466667,820.0,517.8,1243.0,484.5,7,5,7,5
2058,1,2674.3,2410.3,2241.3,2511.266667,753.7,535.2,1224.1,492.9,7,5,7,4
2059,1,2642.8,2442.1,2194.9,2510.000000,825.3,537.5,1166.9,462.1,7,5,7,5
2060,1,2642.8,2477.2,2253.7,1881.300000,780.3,559.5,1250.8,464.2,7,5,7,6

In [321]:
dataset['tag1ps'] = pd.cut(dataset['tag1ps'], bins, labels=pressure)
dataset['tag2ps'] = pd.cut(dataset['tag2ps'], bins, labels=pressure)
dataset['tag3ps'] = pd.cut(dataset['tag3ps'], bins, labels=pressure)
dataset['tag4ps'] = pd.cut(dataset['tag4ps'], bins, labels=pressure)

In [322]:
dataset

,Class,tag1,tag2,tag3,tag4,tag24,tag25,tag26,tag27,tag1ps,tag2ps,tag3ps,tag4ps
0,1,2551.4,2345.3,2272.0,2554.333333,775.6,563.6,1233.7,499.7,0.0,0.0,0.0,0.0
1,1,2561.6,2364.8,2238.8,2500.733333,818.9,572.6,1219.7,485.6,0.0,0.0,0.0,0.0
2,1,2507.6,2339.3,2261.4,2553.200000,811.8,540.6,1243.3,488.8,0.0,0.0,0.0,0.0
3,1,2471.5,2400.6,2274.0,2506.066667,789.9,538.8,1219.2,468.9,0.0,0.0,0.0,0.0
4,1,2577.5,2373.3,2278.9,2512.066667,744.8,558.2,1224.0,471.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,1,2617.8,2426.3,2217.5,2533.933333,810.9,520.3,1220.1,484.7,0.0,0.0,0.0,0.0
2057,1,2641.9,2393.6,2237.4,2562.466667,820.0,517.8,1243.0,484.5,0.0,0.0,0.0,0.0
2058,1,2674.3,2410.3,2241.3,2511.266667,753.7,535.2,1224.1,492.9,0.0,0.0,0.0,0.0
2059,1,2642.8,2442.1,2194.9,2510.000000,825.3,537.5,1166.9,462.1,0.0,0.0,0.0,0.0
2060,1,2642.8,2477.2,2253.7,1881.300000,780.3,559.5,1250.8,464.2,0.0,0.0,0.0,0.0

In [323]:
cd C:/Users/nobuh/Google Drive/M1/Research/Experiments/Data/Cleaned/Complete/file/binning

C:\Users\nobuh\Google Drive\M1\Research\Experiments\Data\Cleaned\Complete\file\binning

In [324]:
dataset.to_csv('Neutral.csv', encoding='utf-8', index=False)